[init]
	defaultBranch = master
[user]
	name = Ronald Huggler
	email = ronald@huggler.com.br
	signingkey = FE2CAE7D83D3E16D
[core]
	editor = vim
	whitespace = -trailing-space
	pager = less -rXF
[diff]
	mnemonicPrefix = true
	renames = true
[log]
	abbrevCommit = true
	follow = true
[push]
	default = upstream
[status]
	showUntrackedFiles = all
[alias]
	s = status
	b = branch
	c = checkout
	d = diff
	dc = diff --cached
[commit]
	gpgsign = true
